body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  text-align: center;
}

.catalogue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.game {
  width: 50vw;
  padding: 1em 0.5em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  border: 1px solid black;
  margin: unset auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game * {
  margin: 0;
}

.buttons {
  display: flex;
  gap: 0.5em;
}
