body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
}

.catalogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    width: 50vw;
    padding: 1em 0.5em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    border: 1px solid black;
    margin: unset auto
}

.game * {
    margin: 0
}